@font-face {
    font-display: fallback;
    font-family: 'Oracle Sans';
    font-weight: 100;
    src: url(OracleSans_W_ULt.woff2) format('woff2'), url(OracleSans_W_ULt.woff) format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow: hidden;
    height: 100%;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.main-button {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btn-trigger {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: sans-serif;
  transition: background 0.2s;
}

.btn-trigger:hover {
  background-color: #2980b9;
}
